@model ScheduleMusicPractice.Models.ViewModels.ScheduleASession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PracticeSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.practiceSession.dateTime" class="control-label"></label>
                <input asp-for="@Model.practiceSession.dateTime" class="form-control" />
                <span asp-validation-for="@Model.practiceSession.dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="@Model.practiceSession.PracticeMethodId" class="form-control" asp-items="@Model.ListOfPracticeMethods"></select>
                <span asp-validation-for="@Model.practiceSession.PracticeMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="@Model.practiceSession.InstrumentId" class="form-control" asp-items="@Model.ListOfInstruments"></select>
                <span asp-validation-for="@Model.practiceSession.InstrumentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
