@model ScheduleMusicPractice.Models.ViewModels.RankingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ranking</h4>
    <hr />
    <dl class="row">
        <dt hidden class="col-sm-2">
            @Html.DisplayNameFor(model => model.rank.User)
        </dt>
        <dd hidden class="col-sm-10">
            @Html.DisplayFor(model => model.rank.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.learningMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.learningMaterial.Name)
        </dd>
     
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.rank.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.rank.Rating)
            </dd>
       

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
